.PostList {
	padding-top: 3rem;

	.write-post-button-wrapper {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 3rem;
	}

	.post-item {
		padding-top: 3rem;
		padding-bottom: 3rem;
		&:first-child {
			padding-top: 0;
		}

		h2 {
			font-size: 2rem;
			margin-bottom: 0;
			margin-top: 0;
			&:hover {
				color: #000;
			}
		}

		p {
			margin-top: 2rem;
		}
	}

	.post-item + .post-item {
		border-top: 1px solid #bdbdbd;
	}
}
