.PostList {
	padding-top: 3rem;

	.write-post-button-wrapper {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 3rem;
	}

	.PostItem {
		&:first-child {
			padding-top: 0;
		}

		.card-content {
			h4 {
				a:hover {
					color: rgba(54, 54, 54, 0.8) !important;
				}
			}
			p {
				margin-top: 2rem;
			}
		}
	}
}
