.Tags {
	margin-left: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	.tag {
		cursor: pointer;
		color: rgb(100, 100, 100);
		&:hover {
			color: #222222;
		}
	}

	.tag + .tag {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
}
